<!DOCTYPE html>
<html>
  <head>
    <title>Cabletest1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sample Chat App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li class="<%= 'active' if action_name == "index" %>"><%= link_to "Home", root_url %></li>
            <li class="<%= 'active' if action_name == "show" %>"><%= link_to "Chat", chatrooms_path %></li>
            
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="main-container">
      <div class="col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
